.maingrid{
    width:100vw;
    height:100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.griddivs{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 5px;
    background-color: beige;
    border: 1px solid red;
}

.normal{
    background-color: lightblue;
}

.isclicked{
    background-color: azure;
}